$main: RGBA(0, 147, 203, 1.00);
$btn_big: RGBA(57, 182, 229, 1.00);
$btn_big_o: RGBA(57, 182, 229, .25);
$h1_about: RGBA(38, 121, 151, 1.00);
$light_blue: RGBA(58, 182, 229, 1.00);
$dark_blue: RGBA(0, 147, 203, 1.00);